.navbar {
  width: 100%;
  height: 70px;
  background: rgb(4, 108, 228);
  position: relative;
  display: flex;
  z-index: 999;

  .content-logo {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 25%;
    }
  }

  .selected {
    background: #223d84;
  }

  .content-btn {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: #fff;
      font-family: "segoe UI";
      text-decoration: none;
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s all ease;
    }

    a:hover {
      background: rgba(255, 255, 255, 0.192);
    }
  }
}
