<div class="navbar">
  <div class="content-logo">
    <img
      src="https://www.pngkey.com/png/full/330-3300539_instant-gaming-esports.png"
      alt=""
    />
  </div>
  <div class="content-btn">
    <a routerLink="/home" [routerLinkActive]="'selected'">Inicio</a>
    <a routerLink="/dashboard2" [routerLinkActive]="'selected'">Servicios</a>
    <a routerLink="/login" [routerLinkActive]="'selected'">Nosotros</a>
    <a href="#">Contacto</a>
  </div>
</div>
