<!-- <img [src]="user.avatar" alt="" /> -->

<h2 [style.background]="pelicula.color">{{ pelicula.name}}</h2>
<input type="text" value="{{pelicula.name}}">
<input type="text" [value]="pelicula.name">
<!-- <h3>{{ }}</h3>
<h1>{{ pelicula }}</h1> -->
