<h1>home works!</h1>
<p>esta es la prueba de componente embebido</p>
<input
  routerLink="/login"
  type="submit"
  class="fadeIn fourth"
  [value]="contador"
/>
<button mat-raised-button color="primary">Primary</button>
<mat-slide-toggle (change)="valueToogle($event)">Slide me!</mat-slide-toggle> 
<!-- <select id="container" (change)="mostrar($event)"> -->
<!-- [ngClass]="peli.active ? 'success' : 'error'" -->
<!-- [ngStyle]="peli.active ? { background: peli.color } : { display: 'none' }" -->
<!-- [routerLink]="['/dashboard2', i + 1, peli.name] -->
<ng-container *ngFor="let peli of peliculas; let i = index">
  <li routerLink="/dashboard2" [queryParams]="peli">
    {{ peli.name }}
  </li>
</ng-container>
<!-- </select> -->

<input
  *ngIf="selected; else name"
  type="text"
  placeholder="escribe aqui cuando sea verdadero"
  (keyup)="mostrar($event)"
  (focus)="mostrar($event)"
  (blur)="mostrar($event)"
/>

<ng-template #name>
  <input
    type="text"
    placeholder="escribe aqui cuando sea falso"
    (keyup)="mostrar($event)"
    (focus)="mostrar($event)"
    (blur)="mostrar($event)"
  />
</ng-template>
